z.ERP/trunk/z.SSO/Service References/UserService/SSOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SSOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59000/svc/SSOService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59000/svc/SSOService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59000/svc/SSOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/z.SSO.Model" />
      <xsd:import schemaLocation="http://localhost:59000/svc/SSOService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISSOService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="ISSOService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISSOService_GetUserByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCode" />
  </wsdl:message>
  <wsdl:message name="ISSOService_GetUserByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISSOService_GetPermissionByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionByUserId" />
  </wsdl:message>
  <wsdl:message name="ISSOService_GetPermissionByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionByUserIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISSOService">
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISSOService/GetUserById" message="tns:ISSOService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISSOService/GetUserByIdResponse" message="tns:ISSOService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISSOService/GetUserByCode" message="tns:ISSOService_GetUserByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISSOService/GetUserByCodeResponse" message="tns:ISSOService_GetUserByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermissionByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISSOService/GetPermissionByUserId" message="tns:ISSOService_GetPermissionByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISSOService/GetPermissionByUserIdResponse" message="tns:ISSOService_GetPermissionByUserId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISSOService" type="tns:ISSOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/ISSOService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByCode">
      <soap:operation soapAction="http://tempuri.org/ISSOService/GetUserByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionByUserId">
      <soap:operation soapAction="http://tempuri.org/ISSOService/GetPermissionByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSOService">
    <wsdl:port name="BasicHttpBinding_ISSOService" binding="tns:BasicHttpBinding_ISSOService">
      <soap:address location="http://localhost:59000/svc/SSOService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>