z.ERP/trunk/z.ERP.WebServiceTests/Service References/posservice/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60796/Wcf/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/z.WebServiceBase.Model" />
  <xs:element name="Do">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/z.WebServiceBase.Model" minOccurs="0" name="dto" nillable="true" type="q1:RequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/z.WebServiceBase.Model" minOccurs="0" name="DoResult" nillable="true" type="q2:ResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/z.WebServiceBase.Model" minOccurs="0" name="dto" nillable="true" type="q3:LoginRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/z.WebServiceBase.Model" minOccurs="0" name="LoginResult" nillable="true" type="q4:LoginResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>