z.ERP/trunk/z.ERP.API/Service References/PosServiceAPI/ChangYi.Crm.Server.Wcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VipCard">
    <xs:sequence>
      <xs:element name="CanCent" type="xs:boolean" />
      <xs:element name="CanDisc" type="xs:boolean" />
      <xs:element name="CanOwnCoupon" type="xs:boolean" />
      <xs:element name="CanReturn" type="xs:boolean" />
      <xs:element name="CardCode" nillable="true" type="xs:string" />
      <xs:element name="CardId" type="xs:int" />
      <xs:element name="CardTypeId" type="xs:int" />
      <xs:element name="CardTypeName" nillable="true" type="xs:string" />
      <xs:element name="Hello" nillable="true" type="xs:string" />
      <xs:element name="StageCent" type="xs:double" />
      <xs:element name="ValidCent" type="xs:double" />
      <xs:element name="VipName" nillable="true" type="xs:string" />
      <xs:element name="YearCent" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VipCard" nillable="true" type="tns:VipCard" />
  <xs:complexType name="VipInfoUpdated">
    <xs:sequence>
      <xs:element name="Address" nillable="true" type="xs:string" />
      <xs:element name="CardId" type="xs:int" />
      <xs:element name="EMail" nillable="true" type="xs:string" />
      <xs:element name="Mobile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VipInfoUpdated" nillable="true" type="tns:VipInfoUpdated" />
  <xs:complexType name="ArrayOfDeptArticleCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeptArticleCode" nillable="true" type="tns:DeptArticleCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeptArticleCode" nillable="true" type="tns:ArrayOfDeptArticleCode" />
  <xs:complexType name="DeptArticleCode">
    <xs:sequence>
      <xs:element name="ArticleCode" nillable="true" type="xs:string" />
      <xs:element name="DeptCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeptArticleCode" nillable="true" type="tns:DeptArticleCode" />
  <xs:complexType name="ArrayOfArticleVipDisc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticleVipDisc" nillable="true" type="tns:ArticleVipDisc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticleVipDisc" nillable="true" type="tns:ArrayOfArticleVipDisc" />
  <xs:complexType name="ArticleVipDisc">
    <xs:sequence>
      <xs:element name="DiscBillId" type="xs:int" />
      <xs:element name="DiscCombinationType" type="xs:int" />
      <xs:element name="DiscRate" type="xs:double" />
      <xs:element name="MultiDiscRate" type="xs:double" />
      <xs:element name="PrecisionType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticleVipDisc" nillable="true" type="tns:ArticleVipDisc" />
  <xs:complexType name="CashCard">
    <xs:sequence>
      <xs:element name="Balance" type="xs:double" />
      <xs:element name="CardCode" nillable="true" type="xs:string" />
      <xs:element name="CardId" type="xs:int" />
      <xs:element name="CardTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashCard" nillable="true" type="tns:CashCard" />
  <xs:complexType name="ArrayOfCoupon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coupon" nillable="true" type="tns:Coupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoupon" nillable="true" type="tns:ArrayOfCoupon" />
  <xs:complexType name="Coupon">
    <xs:sequence>
      <xs:element name="Balance" type="xs:double" />
      <xs:element name="CouponType" type="xs:int" />
      <xs:element name="CouponTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coupon" nillable="true" type="tns:Coupon" />
  <xs:complexType name="ArrayOfCouponPayLimit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponPayLimit" nillable="true" type="tns:CouponPayLimit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponPayLimit" nillable="true" type="tns:ArrayOfCouponPayLimit" />
  <xs:complexType name="CouponPayLimit">
    <xs:sequence>
      <xs:element name="CouponType" type="xs:int" />
      <xs:element name="LimitMoney" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponPayLimit" nillable="true" type="tns:CouponPayLimit" />
  <xs:complexType name="ArrayOfCashCardPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashCardPayment" nillable="true" type="tns:CashCardPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashCardPayment" nillable="true" type="tns:ArrayOfCashCardPayment" />
  <xs:complexType name="CashCardPayment">
    <xs:sequence>
      <xs:element name="CardId" type="xs:int" />
      <xs:element name="PayMoney" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashCardPayment" nillable="true" type="tns:CashCardPayment" />
  <xs:complexType name="ArrayOfCouponPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponPayment" nillable="true" type="tns:CouponPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponPayment" nillable="true" type="tns:ArrayOfCouponPayment" />
  <xs:complexType name="CouponPayment">
    <xs:sequence>
      <xs:element name="CouponType" type="xs:int" />
      <xs:element name="PayMoney" type="xs:double" />
      <xs:element name="VipId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponPayment" nillable="true" type="tns:CouponPayment" />
  <xs:complexType name="RSaleBillHead">
    <xs:sequence>
      <xs:element name="AccountDate" nillable="true" type="xs:string" />
      <xs:element name="BillId" type="xs:int" />
      <xs:element name="BillType" type="xs:int" />
      <xs:element name="Cashier" nillable="true" type="xs:string" />
      <xs:element name="OriginalBillId" type="xs:int" />
      <xs:element name="OriginalPosId" nillable="true" type="xs:string" />
      <xs:element name="PosId" nillable="true" type="xs:string" />
      <xs:element name="SaleTime" nillable="true" type="xs:string" />
      <xs:element name="StoreCode" nillable="true" type="xs:string" />
      <xs:element name="VipId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSaleBillHead" nillable="true" type="tns:RSaleBillHead" />
  <xs:complexType name="ArrayOfRSaleBillArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RSaleBillArticle" nillable="true" type="tns:RSaleBillArticle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRSaleBillArticle" nillable="true" type="tns:ArrayOfRSaleBillArticle" />
  <xs:complexType name="RSaleBillArticle">
    <xs:sequence>
      <xs:element name="ArticleCode" nillable="true" type="xs:string" />
      <xs:element name="DeptCode" nillable="true" type="xs:string" />
      <xs:element name="DiscMoney" type="xs:double" />
      <xs:element name="Inx" type="xs:int" />
      <xs:element name="IsNoCent" type="xs:boolean" />
      <xs:element name="IsNoProm" type="xs:boolean" />
      <xs:element name="SaleMoney" type="xs:double" />
      <xs:element name="SaleNum" type="xs:double" />
      <xs:element name="VipDiscBillId" type="xs:int" />
      <xs:element name="VipDiscMoney" type="xs:double" />
      <xs:element name="VipDiscRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSaleBillArticle" nillable="true" type="tns:RSaleBillArticle" />
  <xs:complexType name="ArrayOfRSaleBillArticleDecMoney">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RSaleBillArticleDecMoney" nillable="true" type="tns:RSaleBillArticleDecMoney" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRSaleBillArticleDecMoney" nillable="true" type="tns:ArrayOfRSaleBillArticleDecMoney" />
  <xs:complexType name="RSaleBillArticleDecMoney">
    <xs:sequence>
      <xs:element name="ArticleInx" type="xs:int" />
      <xs:element name="DecMoney" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSaleBillArticleDecMoney" nillable="true" type="tns:RSaleBillArticleDecMoney" />
  <xs:complexType name="ArrayOfRSaleBillArticlePromFlag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RSaleBillArticlePromFlag" nillable="true" type="tns:RSaleBillArticlePromFlag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRSaleBillArticlePromFlag" nillable="true" type="tns:ArrayOfRSaleBillArticlePromFlag" />
  <xs:complexType name="RSaleBillArticlePromFlag">
    <xs:sequence>
      <xs:element name="ArticleInx" type="xs:int" />
      <xs:element name="JoinDecMoney" type="xs:boolean" />
      <xs:element name="JoinOfferCoupon" type="xs:boolean" />
      <xs:element name="JoinPromCent" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSaleBillArticlePromFlag" nillable="true" type="tns:RSaleBillArticlePromFlag" />
  <xs:complexType name="ArrayOfOfferBackCoupon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfferBackCoupon" nillable="true" type="tns:OfferBackCoupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfferBackCoupon" nillable="true" type="tns:ArrayOfOfferBackCoupon" />
  <xs:complexType name="OfferBackCoupon">
    <xs:sequence>
      <xs:element name="Balance" type="xs:double" />
      <xs:element name="CouponType" type="xs:int" />
      <xs:element name="CouponTypeName" nillable="true" type="xs:string" />
      <xs:element name="Difference" type="xs:double" />
      <xs:element name="OfferMoney" type="xs:double" />
      <xs:element name="ValidDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfferBackCoupon" nillable="true" type="tns:OfferBackCoupon" />
  <xs:complexType name="ArrayOfCouponPayback">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponPayback" nillable="true" type="tns:CouponPayback" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponPayback" nillable="true" type="tns:ArrayOfCouponPayback" />
  <xs:complexType name="CouponPayback">
    <xs:sequence>
      <xs:element name="CouponType" type="xs:int" />
      <xs:element name="CouponTypeName" nillable="true" type="xs:string" />
      <xs:element name="PayMoney" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponPayback" nillable="true" type="tns:CouponPayback" />
  <xs:complexType name="ArrayOfRSaleBillPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RSaleBillPayment" nillable="true" type="tns:RSaleBillPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRSaleBillPayment" nillable="true" type="tns:ArrayOfRSaleBillPayment" />
  <xs:complexType name="RSaleBillPayment">
    <xs:sequence>
      <xs:element name="PayMoney" type="xs:double" />
      <xs:element name="PayTypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSaleBillPayment" nillable="true" type="tns:RSaleBillPayment" />
  <xs:complexType name="ArrayOfRSaleBillArticleCent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RSaleBillArticleCent" nillable="true" type="tns:RSaleBillArticleCent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRSaleBillArticleCent" nillable="true" type="tns:ArrayOfRSaleBillArticleCent" />
  <xs:complexType name="RSaleBillArticleCent">
    <xs:sequence>
      <xs:element name="ArticleInx" type="xs:int" />
      <xs:element name="Cent" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSaleBillArticleCent" nillable="true" type="tns:RSaleBillArticleCent" />
  <xs:complexType name="ArrayOfRSaleBillArticleCoupon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RSaleBillArticleCoupon" nillable="true" type="tns:RSaleBillArticleCoupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRSaleBillArticleCoupon" nillable="true" type="tns:ArrayOfRSaleBillArticleCoupon" />
  <xs:complexType name="RSaleBillArticleCoupon">
    <xs:sequence>
      <xs:element name="ArticleInx" type="xs:int" />
      <xs:element name="CouponType" type="xs:int" />
      <xs:element name="SharedMoney" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSaleBillArticleCoupon" nillable="true" type="tns:RSaleBillArticleCoupon" />
  <xs:complexType name="ArrayOfOfferCoupon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfferCoupon" nillable="true" type="tns:OfferCoupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfferCoupon" nillable="true" type="tns:ArrayOfOfferCoupon" />
  <xs:complexType name="OfferCoupon">
    <xs:sequence>
      <xs:element name="Balance" type="xs:double" />
      <xs:element name="CouponType" type="xs:int" />
      <xs:element name="CouponTypeName" nillable="true" type="xs:string" />
      <xs:element name="OfferMoney" type="xs:double" />
      <xs:element name="ValidDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfferCoupon" nillable="true" type="tns:OfferCoupon" />
  <xs:complexType name="ArrayOfSaleMoneyLeftWhenPromCalc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleMoneyLeftWhenPromCalc" nillable="true" type="tns:SaleMoneyLeftWhenPromCalc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleMoneyLeftWhenPromCalc" nillable="true" type="tns:ArrayOfSaleMoneyLeftWhenPromCalc" />
  <xs:complexType name="SaleMoneyLeftWhenPromCalc">
    <xs:sequence>
      <xs:element name="AddupTypeDesc" nillable="true" type="xs:string" />
      <xs:element name="CouponTypeName" nillable="true" type="xs:string" />
      <xs:element name="PromotionName" nillable="true" type="xs:string" />
      <xs:element name="RuleName" nillable="true" type="xs:string" />
      <xs:element name="SaleMoney" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleMoneyLeftWhenPromCalc" nillable="true" type="tns:SaleMoneyLeftWhenPromCalc" />
</xs:schema>