z.ERP/trunk/z.ERP.API/Service References/PosServiceAPI/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetVipCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condType" type="xs:int" />
        <xs:element minOccurs="0" name="condValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardCodeToCheck" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardVerifyToCheck" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVipCardResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="vipCard" nillable="true" type="q1:VipCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVipInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="vipInfo" nillable="true" type="q2:VipInfoUpdated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVipInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVipInfoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVipCent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vipId" type="xs:int" />
        <xs:element minOccurs="0" name="updateCent" type="xs:double" />
        <xs:element minOccurs="0" name="updateType" type="xs:int" />
        <xs:element minOccurs="0" name="storeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVipCentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVipCentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleVipDisc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vipID" type="xs:int" />
        <xs:element minOccurs="0" name="vipType" type="xs:int" />
        <xs:element minOccurs="0" name="storeCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="articles" nillable="true" type="q3:ArrayOfDeptArticleCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleVipDiscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetArticleVipDiscResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="discs" nillable="true" type="q4:ArrayOfArticleVipDisc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condType" type="xs:int" />
        <xs:element minOccurs="0" name="condValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardCodeToCheck" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verifyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCashCardResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="cashCard" nillable="true" type="q5:CashCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipCoupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condType" type="xs:int" />
        <xs:element minOccurs="0" name="condValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardCodeToCheck" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verifyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requireValidDate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipCouponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVipCouponResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vipID" type="xs:int" />
        <xs:element minOccurs="0" name="vipCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="coupons" nillable="true" type="q6:ArrayOfCoupon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipCouponToPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condType" type="xs:int" />
        <xs:element minOccurs="0" name="condValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardCodeToCheck" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verifyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipCouponToPayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVipCouponToPayResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vipID" type="xs:int" />
        <xs:element minOccurs="0" name="vipCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="coupons" nillable="true" type="q7:ArrayOfCoupon" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="payLimits" nillable="true" type="q8:ArrayOfCouponPayLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipCouponPayLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vipType" type="xs:int" />
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="couponTypes" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipCouponPayLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVipCouponPayLimitResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="payLimits" nillable="true" type="q10:ArrayOfCouponPayLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareTransCashCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="payments" nillable="true" type="q11:ArrayOfCashCardPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareTransCashCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepareTransCashCardPaymentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareTransCashCardPayment2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billID" type="xs:int" />
        <xs:element minOccurs="0" name="cashier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountDate" type="xs:dateTime" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="payments" nillable="true" type="q12:ArrayOfCashCardPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareTransCashCardPayment2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepareTransCashCardPayment2Result" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmTransCashCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transID" type="xs:int" />
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element minOccurs="0" name="transMoney" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmTransCashCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmTransCashCardPaymentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransCashCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transID" type="xs:int" />
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element minOccurs="0" name="transMoney" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransCashCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelTransCashCardPaymentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareTransCouponPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="payments" nillable="true" type="q13:ArrayOfCouponPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareTransCouponPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepareTransCouponPaymentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareTransCouponPayment2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billID" type="xs:int" />
        <xs:element minOccurs="0" name="cashier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountDate" type="xs:dateTime" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="payments" nillable="true" type="q14:ArrayOfCouponPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareTransCouponPayment2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepareTransCouponPayment2Result" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmTransCouponPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transID" type="xs:int" />
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element minOccurs="0" name="transMoney" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmTransCouponPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmTransCouponPaymentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransCouponPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transID" type="xs:int" />
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element minOccurs="0" name="transMoney" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransCouponPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelTransCouponPaymentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRSaleBillArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="billHead" nillable="true" type="q15:RSaleBillHead" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="billArticles" nillable="true" type="q16:ArrayOfRSaleBillArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRSaleBillArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRSaleBillArticlesResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element minOccurs="0" name="decMoney" type="xs:double" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="articleDecMoneys" nillable="true" type="q17:ArrayOfRSaleBillArticleDecMoney" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="articlePromFlags" nillable="true" type="q18:ArrayOfRSaleBillArticlePromFlag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRSaleBackBillArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="billHead" nillable="true" type="q19:RSaleBillHead" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="billArticles" nillable="true" type="q20:ArrayOfRSaleBillArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRSaleBackBillArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRSaleBackBillArticlesResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="offerBackCoupons" nillable="true" type="q21:ArrayOfOfferBackCoupon" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="paybackCoupons" nillable="true" type="q22:ArrayOfCouponPayback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcRSaleBillDecMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="payments" nillable="true" type="q23:ArrayOfRSaleBillPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcRSaleBillDecMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcRSaleBillDecMoneyResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="decMoney" type="xs:double" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="articleDecMoneys" nillable="true" type="q24:ArrayOfRSaleBillArticleDecMoney" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareCheckOutRSaleBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="payments" nillable="true" type="q25:ArrayOfRSaleBillPayment" />
        <xs:element minOccurs="0" name="couponPaid" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareCheckOutRSaleBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepareCheckOutRSaleBillResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billCent" type="xs:double" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="articleCents" nillable="true" type="q26:ArrayOfRSaleBillArticleCent" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="articleCoupons" nillable="true" type="q27:ArrayOfRSaleBillArticleCoupon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutRSaleBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverBillID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutRSaleBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOutRSaleBillResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billCent" type="xs:double" />
        <xs:element minOccurs="0" name="vipCent" type="xs:double" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="offerCoupons" nillable="true" type="q28:ArrayOfOfferCoupon" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ChangYi.Crm.Server.Wcf" minOccurs="0" name="leftSaleMoneys" nillable="true" type="q29:ArrayOfSaleMoneyLeftWhenPromCalc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>